---
// src/layouts/Layout.astro
import "../styles/global.css"; // Тут будуть ваші змінні та скидання стилів

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Camper Rental App" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{title}</title>
        <script src="htmx.org"></script>
    </head>

    <body>
        <header>
            <nav>
                <a href="/">Home</a>
                <a href="/catalog">Catalog</a>
            </nav>
        </header>

        <main>
            <slot />
        </main>
    </body>
</html>
