---
// src/layouts/Layout.astro
import "../styles/global.css";
import Header from "../components/Header.astro"; // Імпортуємо Header

const { title = "TravelTrucks" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Rent your dream camper" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin /> -->
    <title>{title}</title>
  </head>
  <body>
    <Header />

    <main>
      <slot />
    </main>
  </body>
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</html>
